.vs/
Common/bin
Common/obj
EDPoS_RewardTask/bin
EDPoS_RewardTask/obj
EDPoS_RewardTask/Web.config
EDPoS_RewardTask/app.config
EDPoS_RewardTask/packages


/*.suo
.vscode/
/*.user
_Resharper*
.hgtags
NuGet.exe
*.user
*.nupkg
.nupkgs/
.docstats
*.ide/
*.lock.json
*.coverage
Test.DB.*
TestResults/
Dapper.Tests/*.sdf
Dapper.Tests/SqlServerTypes/
.dotnet/*
BenchmarkDotNet.Artifacts/
.idea/

**/bin/
**/obj/