<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnStr" value="uid=bbcsync;pwd=bbc;port=33066;database=bbcsync;server=192.168.50.5;Allow User Variables=True" />
    <add key="Interval" value="5" />
    <add key="StatInterval" value="30" />
    <add key="ConfirmHeight" value="60"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>