<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnStr" value="uid=root;pwd=123456#;port=3306;database=bigbang-test;server=127.0.0.1" />
    <add key="Interval" value="5" />
    <add key="StatInterval" value="30" />
    <add key="ConfirmHeight" value="60"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>