<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--数据库连接接字符串-->
    <add key="ConnStr" value="uid=root;pwd=123456;port=3306;database=bigbang;server=127.0.0.1" />
    <!--服务执行收益计算的间隔时间(以秒为单位)-->
    <add key="Interval" value="5" />
    <!--服务执行每日收益汇总的间隔时间(以秒为单位)-->
    <add key="StatInterval" value="30" />
    <add key="ConfirmHeight" value="60"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>